sfproject/.sfdx/
sfproject/.sfdx/sfdx-config.json
sfproject/.vscode/
sfproject/force-app/main/default/permissionsets/FSL_**
sfproject/force-app/main/default/featureParameters/
sfproject/force-app/main/default/groups/
sfproject/debug.log